/* general sytling for all page contenet; center the whole page */
body {
    display: flex;
    flex-direction: column;
    align-items: center;     /* Center horizontally */
    justify-content: center; /* Center vertically */
    gap: 10px;
    height: calc(100vh - 100px);
    margin: 0;
    font-family: "DM Serif Text", serif;
    background-color: rgb(7, 49, 99);
}

/* custom selection colors */
::selection{
    background-color: white;
    color: black;
}

/* style the heading "Home" at the top */
h1{
    letter-spacing: 0.3rem; /* add letter spacing */
    color: white;
    filter: drop-shadow(0px 0px 15px white); /* glow effect on text */
    user-select: none;
}

/* change text color to white */
p{
    color: white;
}

/* make font larger */
#scoreText{
    font-size: 20px;
}

/* set chart size and padding */
#chartDiv{
    padding: 2%;
    width: 400px;
}

/* make just the score number larger for emphasis */
#score{
    font-size: 30px;
}